@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply scroll-smooth;
	}
}

@layer components {
	.text-gradient-primary {
		@apply bg-gradient-to-br from-violet-700 to-rose-400 bg-clip-text text-transparent;
	}

	.bg-gradient-primary {
		@apply bg-gradient-to-br from-violet-700 to-rose-400;
	}

	.text-gradient-white {
		@apply bg-gradient-to-br from-white to-zinc-500 bg-clip-text text-transparent;
	}

	.bg-gradient-white {
		@apply bg-gradient-to-t from-zinc-900/50 to-[rgba(225,225,225,0)];
	}

	.bg-gradient-black {
		@apply bg-gradient-to-t from-black via-black to-transparent;
	}

	.fade {
		@apply after:absolute after:top-0 after:left-0 after:bg-gradient-to-r after:from-black after:via-transparent after:to-black after:h-full after:w-screen;
	}

	.logo {
		@apply border border-zinc-800 p-1 rounded-md bg-gradient-to-t from-zinc-900 to-[rgba(225,225,225,0)];
	}
}

@later utilities {
}

@keyframes pulse {
	0% {
		background-color: #18181b;
	}
	50% {
		background-color: white;
	}
	100% {
		background-color: #18181b;
	}
}
